{% extends 'layouts/base.html' %}

{% from 'macros/authors.html' import authors %}
{% from 'macros/nav.html' import nav %}
{% from 'macros/nav.html' import navfooter %}

{% import 'macros/prose.html' as prose %}

{% block header %}
  {{ nav(context.id, context.short_head) }}
{% endblock %}

{% block content %}
<main class="main-body">
  <div class="story-header__wrapper">
    <div class="story-header__lead-art"></div>
    <header class="story-header">
      <div class="story-header__part">Part 1</div>
      <div class="story-header__headline-box">
        <h1 class="story-header__headline">Republish: {{ context.headline }}</h1>
        <p class="story-header__byline">by {{ authors(context.authors) }} | {{ context.pub_date }}</p>
      </div>     
    </header>
  </div>

  </div>

  <article class="prose republish">
    <p>You’re welcome to republish our articles and graphics for free using the following ground rules. (Please let us know if you republish our stories; it makes us happy!)</p>

    <p>Here’s what you need to know:</p>
      <ol>
        <li>You can’t change the story in any way except with two exceptions:
          <ul>
            <li>Changing references to timing (say, “today” to “yesterday”) or to suit your in-house style rules (“Beaumont” to “Beaumont, Tex.”).</li>
            <li>Shortening a story for length. Just include “This story has been edited for length.”</li>
          </ul>
        </li>
        <li>You can republish our photos and graphics as long as you’re running them on the stories with which they originally appeared. If you want to run a photo or graphic apart from that story, you must seek permission. (We don’t always have the copyrights to pass along!). Email our art department or our managing editor, Ayan Mittra, for help.</li>
        <li>Give us credit. Please publish the author’s name using the following format: by Author Name, The Texas Tribune. Link back to our home page, texastribune.org, in that credit line.</li>
        <li>At the end of the story, when possible, please add the following: The Texas Tribune is a nonpartisan, nonprofit media organization that informs Texans — and engages with them – about public policy, politics, government and statewide issues.</li>
        <li>Don’t resell the story to someone else.</li>
        <li>Don’t sell ads against our story. Feel free, however, to publish it on a page surrounded by ads you’ve already sold.</li>
        <li>If you publish our story online, please try your best to include all of our internal links and link to texastribune.org.</li>
        <li>If we send you a request to remove the content from your site, you must agree to do so immediately.</li>
        <li>Link back to the original article, which is located at http://www.texastribune.org/2016/03/15/chief-justice-says-judges-need-report-any-every-th/.</li>
      </ol>
    <p>See a full list of multimedia republishing terms here. For questions please contact Natalie Choate, director of media relations and partnerships, at <a href="mailto:nchoate@texastribune.org">nchoate@texastribune.org</a>.</p>
    <p>Select which option you'd prefer and then click "Copy" to copy the story text or story html:</p>
    <button id="text-btn" data-clipboard-target="#copytext" class="ghost-button active">Story Text</button>
    <button id="html-btn" data-clipboard-target="#copytext-html" class="ghost-button">Story HTML</button>
    <button id="copy" data-clipboard-target="#copytext" class="ghost-button">Copy</button>
  </article>
  
  <article id="copytext" class="prose">
    <div id="text">
    {% for item in context.prose %}
      {% if item.type == 'text' %}
        {{ prose[item.type](item.value, data) }}
      {% endif %}
    {% endfor %}
    <p>This article originally appeared in The Texas Tribune at <a href="{{ data.PATH_PREFIX }}{{ context.slug }}">http://apps.texastribune.org/top10/{{ context.slug }}</a></p>
    </div>
    <div id="html">
<!--       <pre style="display:block;">
        <code class="language-markup"> -->
        {% for item in context.prose %}
          {% if item.type == 'text' %}
            {{ prose['html_text'](item.value, data) }}
          {% endif %}
        {% endfor %}
        &lt;p>This article originally appeared in The Texas Tribune at &lt;a href="{{ data.PATH_PREFIX }}{{ context.slug }}">http://apps.texastribune.org/top10/{{ context.slug }}&lt;/a>&lt;/p>
<!--         </code>
      </pre>  -->
    </div>
  </article>
  {{ navfooter(context.id, context.headline) }}
</main>
<footer class="footer">
  <div class="footer-container">
    <nav>
      <ul>
        <li class="copywrite">&copy; 2015 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
      </ul>
    </nav>
    <nav class="last-nav">
      <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li class="donate"><a href="https://www.texastribune.org/join/">Donate</a></li>
      </ul>
    </nav>
  </div>
</footer>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="{{ data.PATH_PREFIX}}scripts/includes/clipboard.js"></script>

<script type="text/javascript">
  new Clipboard('#copy');
</script>
<script src="{{ data.PATH_PREFIX }}scripts/copy.js"></script>
{% endblock %}
