{% extends 'layouts/base.html' %}
{% from 'macros/authors.html' import authors %}
{% from 'macros/nav.html' import nav %}
{% from 'macros/nav.html' import navfooter %}
{% import 'macros/prose.html' as prose %}
{% block social %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@texastribune">
<meta name="twitter:creator" content="@texastribune">
<meta property="og:url" content="{{ data.PATH_FULL }}{{ context.slug }}">
<meta property="og:title" content="{{ context.headline }}">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ context.summary }}">
<meta property="og:site_name" content="The Texas Tribune">
<meta property="og:image" content="{{ data.PATH_FULL }}assets/images/{{ context.fb_art }}">
<meta property="fb:app_id" content="154122474650943">
{% endblock %}
{% block parsely %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ context.headline }}",
    "url": "{{ data.PATH_FULL }}",
    "thumbnailUrl": "",
    "dateCreated": "2016-02-09T06:00:00-06:00",
    "articleSection": "FRONT PAGE, HIGHER EDUCATION",
    "creator": ["Becca Aaronson, The Texas Tribune"]
  }
</script>
{% endblock %}

{% block header %}
  {{ nav(context.id, context.short_head) }}
{% endblock %}

{% block content %}
<main class="main-body">
  <figure class="logo">
    <img class="logo__mobile" src="{{ data.PATH_PREFIX }}assets/images/tt-PoA-logo-stacked.svg">
    <img class="logo__desktop" src="{{ data.PATH_PREFIX }}assets/images/tt-PoA-logo.svg">
  </figure>
  <header>
    <h1 class="logo__tagline">A look at the debate over the Top 10 Percent Rule and how it creates challenges for high schools and colleges.</h1>
  </header>
  <div class="storytop--wrapper">
    <div class="storytop--lead-art storytop--lead-art_{{ context.id }}"></div>
    <header class="storytop">
      <div class="storytop--part">Part {{ context.id }}</div>
      <div class="storytop--headline-box">
        <h1 class="storytop--headline">{{ context.headline }}</h1>
        <p class="storytop--byline">by {{ authors(context.authors) }} | {{ context.pub_date }}</p>
      </div>     
    </header>
  </div>

  </div>
  <article class="prose">
  {% for item in context.prose %}
  {{ prose[item.type](item.value, data) }}
  {% endfor %}
  {% if context.disclosure %}
  {{ prose.disclosure(context.disclosure) }}
  {% endif %}
  {% if context.republish %}
  {{ prose.disclosure(context.republish) }}
  {% endif %}
  </article>
  
  {{ navfooter(context.id, context.headline) }}
</main>
<footer class="footer">
  <div class="footer-container">
    <nav>
      <ul>
        <li class="copywrite">&copy; 2016 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
      </ul>
    </nav>
    <nav class="last-nav">
      <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li class="donate"><a href="https://www.texastribune.org/join/">Donate</a></li>
      </ul>
    </nav>
  </div>
</footer>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ data.PATH_PREFIX }}scripts/{{ context.script }}.js"></script>
{% endblock %}
