$chart-bp: 630px;

.demographics-wrapper {
  background-color: $white;
  position: relative;
  max-width: $page-width;
}

.charts {
  font-family: $sans-serif;
  margin: 0 auto;
  max-width: $page-width;
  padding: 0 1.25em 0 0;
  width: 100%;
  
  text {
    @include font-size($xxs);
  } 
}

.chart-wrapper {
  width: 100%;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis path {
  stroke: black;
  stroke-width: 1;

}

.y.axis path {
  stroke: black;
  stroke-width: 1;
}


// Line Charts
.chart {
  display: block;    

  &-container {
    display: inline-block;
    margin: 0;

    &_demographics {
      width: 32%;
    }

    &_scatter {
      float: left;
      width: 50%;
    }
  }

  &--topper {
    font-family: $sans-serif;
    position: relative;
    padding: 0 1.5em 0 0;

    &_explainer_box {
      display: inline-block;
    }

    &_explainer {
      @include font-size($base, .8);
      display: inline-block;
    }

    &_explainer_text {
      margin: .5em 0 0;
      max-width: 90%;
      opacity: 0;
      position: absolute;
      top: 0;
    }

    &_explainer_text_highlight {
      font-weight: 600;
    }
  
    &_scrollposition {
      display: inline-block;
      padding: 1em .5em 0 .25em;
      vertical-align: top;

      .fa {
        display: block;
        margin: 0 0 .25em;
      }
    }

  }

  &--header {
    @include font-size($base);
    margin: 0 0 1em;
    text-align: center;
  }

  &-scroll_prompt {
    text-align: center;


    .fa {
      @include font-size($l);
      padding: .5em 0;
    }
  }
}


.x.axis {
  $empty-ticks: 2, 3, 4, 6, 7, 8, 10, 11, 12;

  @each $tick in $empty-ticks {
    .tick:nth-of-type(#{$tick}) {
      text {
        display: none;
      }
    } 
  }
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.scroll-space {
  height: 500px;
}

.stuck {
  position: fixed;
  top: 0;
  margin: 0 auto;
  max-width: $page-width;
  padding: 0 1.25em 0 0;
  width: 100%;
}

.legend {
  $light-blue: #90d3c8;
  $orange: #ff6249;

  bottom: 0;
  display: inline-block;
  font-family: $sans-serif;
  text-align: center;
  width: 100%;

  &_ut,
  &_tx {
    display: inline-block;
    margin: .25em 1.5em .25em 0;
  }

  &--key {
    @include font-size($base);
    display: inline-block;
    vertical-align: top;
    line-height: 1.1;
  }

  &--color_box {
    display: inline-block;
    height: 1.3em;
    margin: -.25em .25em 0 0;
    width: 1.3em;

    &.color-light-blue {
      background: $light-blue;
    }

    &.color-orange {
      background: $orange;
    }
  }

  &_ut {
    opacity: 0;
  }
}