$chart-bp: 40em;

.charts {
  @include font-size($xxs);
}

.chart-container {
  display: inline-block;
  margin: 0;
  width: 100%;

  @include susy-media($chart-bp) {
    width: 32%;
  }
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis path {
  stroke: black;
  stroke-width: 2;

}

.y.axis path {
  stroke: black;
  stroke-width: 2;
}