$chart-bp: 630px;

.test-wrapper {
  background-color: white;
  padding-top: 10em;
  height: 1000em;
}

.charts {
  text {
    @include font-size($xxs);
  }
  
}

.chart-container {
  display: inline-block;
  margin: 0;
  width: 100%;

  @include susy-media($chart-bp) {
    width: 32%;
  }

  &_demographics {
    width: 32%;
  }
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis path {
  stroke: black;
  stroke-width: 2;

}

.y.axis path {
  stroke: black;
  stroke-width: 2;
}


// Line Charts
.chart {
  display: block;

  &--explainer {
    @include font-size($m);

    &_text {
      position: absolute;
      top: 0;
      opacity: 0;
    }

    &_text_highlight {
      font-weight: 600;
    } 
  }

  &--header {
    @include font-size($base);
    text-align: center;
    opacity: 0;
  }

}


.x.axis {
  $empty-ticks: 2, 3, 4, 6, 7, 8, 10, 11, 12;

  @each $tick in $empty-ticks {
    .tick:nth-of-type(#{$tick}) {
      text {
        display: none;
      }
    } 
  }
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.scroll-space {
  height: 500px;
}

.stuck {
  position: fixed;
  top: 0;
  width: 100%;
}

.legend {
  $light-blue: #90d3c8;
  $orange: #ff6249;

  margin: 1em 0;
  width: 100%;

  &--key {
    @include font-size($base);
    display: inline-block;
    vertical-align: top;
  }

  &--color_box {
    display: inline-block;
    height: 1.3em;
    margin: -.25em .25em 0 0;
    width: 1.3em;

    &.color-light-blue {
      background: $light-blue;
    }

    &.color-orange {
      background: $orange;
    }
  }

  &_tx,
  &_ut {
    opacity: 0;
  }
}