.nav {
  $nav-bp: 570px;

  background-color: $tribune-black;
  font-family: $sans-serif;

  &--container {
    margin: 0 auto;
    max-width: $page-width;
    text-align: center;
    width: 100%;
  }

  &--logo_tt {
    display: inline-block;
    padding: .5em 1em .25em 0;
  }

  &--sections {
    display: inline-block;
    font-family: $sans-serif;
    color: $white;
    
    @include susy-media($nav-bp) {
      float: right;
      padding: .25em 1em;
    }

    a {
      color: #fff;
      padding: .25em 1em;
      text-decoration: none;

      &:active,
      &:hover {
        color: $tribune-yellow;
        text-decoration: none;
      }
    }

    li {
      display: inline-block;
    }

    &_active {
      span { 
        color: $tribune-yellow;
      }
    }
  }

  // Inside Story Navigation
  &__aside {
    @extend %left-lock;

    li {
      &:active,
      &:hover {
        h4 {
          text-decoration: underline;
        }
      }
    }


    &--header {
      @extend %subhead;
    }

    &--subhead {
      @extend %subhead;
      color: $color-secondary;
    }

    &--subtitle {
      @extend %subtitle;
    }

    &--story_wrapper {
      @include clearfix;
    }

    &--thumbnail {
      background-image: url(../assets/images/test.jpg);
      background-size: cover;
      height: 80px;
      position: absolute;
      width: 80px;
      background-position: center center;
    }

    &--part-wrapper {
      position: relative;
      margin: 0 0 .5rem;
      height: 5em;
    }

    &--link {
      color: #000;
      text-decoration: none;
    }

    &--part {
      @include part-box($xxs);
      margin: 0 0 .5em 88px;
      position: absolute;
      width: 54px;

    }

    &--headline {
      @include headline($base, $m);
      color: $color-secondary;
      position: absolute;
      margin: 1.75em 0 0 88px;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }

    &--extra {
      &_wrapper {

      }
      &_subject {
        @include headline($s, $base);
        &:hover,
        &:active {
          text-decoration: underline;
        }      
      }
    }
    
  }

  &__footer {
    $footer-nav-bp: 700px;
    $footer-height-desktop: 18rem;
    @include clearfix;
    @include story-header(12rem, $footer-height-desktop, 12rem); 
    margin: 0 0 1rem 0;

    &--headline {
      @include headline($m, $l);
      color: $color-secondary;
    }

    &--box {
      @include clearfix;
      position: absolute;
      bottom: 0;  
    }

    &--part {
      @include susy-media($prose-width) {
        margin: 0 0 1rem 2rem;
      }
    }

    &--wrapper {
      position: relative;
      float: left;
      width: 100%;
      margin: 0 0 2rem;

      @include susy-media($footer-nav-bp) {
        margin: 0 2rem 2rem 0;
        width: 45%;
      }

      &:hover {
        h1 {
          text-decoration: underline;
        }
      }
    }
  }
}




