.nav {
  $nav-bp: 570px;

  background-color: $tribune-black;
  font-family: $sans-serif;

  &--container {
    margin: 0 auto;
    max-width: $page-width;
    text-align: center;
    width: 100%;
  }

  &--logo_tt {
    display: inline-block;
    padding: .5em 1em .25em 0;
  }

  &--sections {
    display: inline-block;
    font-family: $sans-serif;
    color: $white;
    
    @include susy-media($nav-bp) {
      float: right;
      padding: .25em 1em;
    }

    a {
      color: #fff;
      padding: .25em 1em;
      text-decoration: none;

      &:active,
      &:hover {
        color: $tribune-yellow;
        text-decoration: none;
      }
    }

    li {
      display: inline-block;
    }

    &_active {
      span { 
        color: $tribune-yellow;
      }
    }
  }

  // Inside Story Navigation
  &__aside {
    @extend %left-lock;

    li {
      &:active,
      &:hover {
        h4 {
          text-decoration: underline;
        }
      }
    }

    &--logo {
      img {
        width: 100%;
      }
    }

    &--reveal {
      img {
        float: left;
        height: 80px;
        margin: 0 .5rem 0 0;
      }
    }

    &--header {
      @extend %subhead;
    }

    &--subhead {
      @extend %subhead;
      color: $color-secondary;
    }

    &--subtitle {
      @extend %subtitle;

      &.story {
        color: $color-secondary;
        font-weight: 800;

        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }

    &--story_wrapper {
      @include clearfix;
      margin-bottom: .65rem;
    }

    &--thumbnail { 
      background-position: center center;
      background-size: cover;
      float: left;
      height: 80px;
      margin: 0 .25rem 0 0;
      width: 80px;

      &-i {
        background-image: url(../assets/images/POA-Story1-Lead-001.jpg);
      }

      &-ii {
        background-image: url(../assets/images/POA-Story2-Lead-001.jpg);
      }

      &-iii {
        background-image: url(../assets/images/POA-Story3-Lead-001.jpg); 
      }
    }

    &--part-wrapper {
      margin: 0 0 .75rem;
    }

    &--link {
      @include clearfix;
      color: #000;
      text-decoration: none;

      &.half {
        float: left;
        width: 50%;
      }
    }

    &--part {
      @include part-box($xxs);
      margin: 0 0 .5em 0;
      // position: absolute;
      width: 68px;
    }

    &--subpart {
      @include font-size($xs);
      color: $color-primary;
      font-family: $serif;
      font-weight: 800;
      text-transform: uppercase;
    }

    &--headline {
      @include headline($base, $m);
      color: $color-secondary;
      // position: absolute;
      // margin: 1.75rem 0 0 88px;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }

    &--extra {
      &_wrapper {
        padding: 0 .5em 0 0;
      }

      &_subject {
        @include headline($s, $base);
        &:hover,
        &:active {
          text-decoration: underline;
        }      
      }
    }
    
  }

  &__footer {
    $footer-nav-bp: 700px;
    $footer-height-desktop: 18rem;
    @include clearfix;
    @include story-header(12rem, $footer-height-desktop, 12rem); 
    margin: 0 0 1rem 0;

    &--headline {
      @include headline($m, $l);
      color: $color-secondary;
    }

    &--headline-box {
      padding: 1rem;

      @include susy-media($prose-width) {
        padding: 1rem 1rem 1rem 3rem;
      }
    }

    &--box {
      @include clearfix;
      position: absolute;
      bottom: 0;  
    }

    &--part {
      @include susy-media($prose-width) {
        margin: 0 0 1rem 2rem;
      }
    }

    &--wrapper {
      position: relative;
      float: left;
      width: 100%;
      margin: 0 0 1rem;

      @include susy-media($footer-nav-bp) {
        margin: 0 2rem 1rem 0;
        width: 45%;
      }

      &:hover {
        h1 {
          text-decoration: underline;
        }
      }
    }
  }
}




