// Story Subheader
%subhead {
  @include font-size($m);
  color: $color-dk-gray;
  font-family: $sans-serif;
  font-weight: 600;
  margin: 0 0 .5rem;
}

// Subtitle underneath subheader
%subtitle {
  @include font-size($base);
  color: $color-gray;
  font-family: $serif;
  font-weight: 400;
  line-height: 1.1;
  margin: 0 0 1rem;
}

%accent-subhead {
  @include font-size($xs);
  color: $tribune-yellow;
  font-family: $sans-serif;
  font-weight: 600;
  margin: 0 0 .15rem;
}

%link {
  color: $color-secondary;

  &:active,
  &:hover {
    text-decoration: underline;
  } 
}

// Container styles for asides
%aside-box {
  margin: 0 0 1rem;
  max-width: $prose-width;
  padding: 1rem 0;
  position: relative;
}

@mixin part-box($size) {
  @include font-size($size);
  background-color: $color-primary;
  color: $white;
  display: inline-block;
  font-family: $serif;
  font-weight: 600;
  letter-spacing: .1em;
  padding: $size/40 +rem $size/24 +rem;
  margin-bottom: $size/8+rem;
  min-width: $size/16*3+rem;
  text-transform: uppercase;
}

@mixin story-header($height, $height-desktop, $img-height) {
  &--lead-art {
    background-image: url(../assets/images/test.jpg);
    background-size: cover;
    height: $img-height;
    width: 100%;
    background-position: center center;

    @include susy-media($prose-width) {
      margin: 0 0 0 2rem;
    }

    @include susy-media($prose-desktop-bp) {
      height: $height-desktop;
      margin-left: 2rem;
    }
  }
  
  &--part {
    @include part-box($m);
  }

  &--headline-box {
    background-color: #fff;
    padding: 1rem;
    width: 100%;

    @include susy-media($prose-width) {
      padding: 1rem 1rem 1rem 3rem;
      max-width: $prose-width;
      margin: 0;
    }
  }

  &--byline {
    @include font-size($s);
    font-family: $sans-serif;
  
    a {
      color: $color-secondary;
      font-weight: 600;
      text-decoration: none;

      &:active,
      &:hover {
        text-decoration: underline;
      }      
    }
  }
}

@mixin headline($base, $desktop) {
  @include font-size($base);
  color: $color-dk-gray;
  font-family: $serif;
  font-weight: 400;
  line-height: 1.1;
  margin: 0 0 .25rem;

  @include susy-media($prose-premobile-bp) {
    @include font-size($desktop);
    line-height: 1.2;
  }
}

.prose {
  @include font-size($base);
  font-family: $serif;
  line-height: 1.6;
  
  > p {
    @extend %left-padding;
    color: $color-dk-gray;
    padding: 0 1rem;
    margin-bottom: 1rem;
    max-width: $prose-width;

    @include susy-media($prose-width) {
      padding: 0 1rem 0 3rem;
    }
    
    a {
      @extend %link;
    }
  }

  //<h2>
  &__subhead {
    @extend %subhead;
    padding: 0 1rem;

    @include susy-media($prose-width) {
      padding: 0 1rem 0 3rem;
    }
  }

  &__subtitle {
    @extend %subtitle;
  }

  &__blockquote {
    @include susy-media($page-width) {
      padding: 0 0 0 1em;
    }

    &--quotemark {
      @include font-size($xxl);
      color: $color-primary;
      float: left;
      font-family: $serif;
      line-height: 1;
      margin: 0 .25em 0 0;
    }

    &--quote {
      @include font-size($l);
      color: $color-dk-gray;
      font-family: $serif;
      font-weight: 600;
      margin: 0 0 .25rem;
    }

    &--caption {
      @include font-size($m);
      color: $color-gray;
      font-family: $sans-serif;
      margin: 0 0 0 1.75em;
    }
  }

  // <ul> 
  &__list {}

  // <li>
  &__list-item {}

  &__disclosure {
    font-style: italic;
  }

  &__republish {
    @include font-size($base);
    font-family: $sans-serif;
  }

  .ad-slot {
    margin-bottom: 1rem;
    max-width: $prose-width;
    text-align: center;
  }

  &--left-lock {
    @extend %left-lock;
  }

  &--right-lock {
    @extend %right-lock;
  }

}

.logo {
  img { 
    margin: .25em auto;
    max-height: 5em;
  }

  &__mobile {
    display: block;

    @include susy-media($prose-width) {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @include susy-media($prose-width) {
      display: block;
    }
  }
}
.storytop {
  $height: 26rem;
  $height-desktop: 30rem;
  @include story-header($height, $height-desktop, $height);
  @include clearfix;
  position: absolute;
  bottom: 0;

  // @include susy-media($prose-desktop-bp) {
  //   position: absolute;
  //   bottom: 0;
  // }

  &--wrapper {
    color: $color-dk-gray;
    height: $height;
    position: relative;

    @include susy-media($prose-desktop-bp) {
      height: $height-desktop;
      margin-bottom: 1rem;
    }
  }

  &--headline {
    @include headline($xl, $xxl);
  }
}

.timeline { 
  &__list {
    @include font-size($s);
    font-family: $sans-serif;

    li {
      margin: 0 0 .5em;
    }
  } 

  &__date {
    @include font-size($base);
    color: $color-primary;
    font-family: $serif;
    font-weight: 600;
  }

  &__subhead {
    @extend %subhead;
  }

  &__subtitle {
    @extend %subtitle;
  }
}

.republish {
  ol {
    @include font-size($s);
    list-style: inherit;
    list-style-type: decimal;
    margin: 0 0 1em 1em;
  }

  ul {
    margin: 0 0 0 1em;
    list-style-type: circle;
  }
}