.prose {
  @include font-size($base);
  font-family: $serif;
  line-height: 1.6;
  padding: 0 1.5rem;

  @include susy-media($page-width) {
    padding: 0;
  }
  
  > p {
    margin-bottom: 1rem;
    max-width: $prose-width;

    a {
      @extend %link;
    }
  }

  //<h2>
  &__subhead {
    @extend %subhead;
  }

  &__subtitle {
    @extend %subtitle;
  }

  &__blockquote {
    @extend %aside-box;
    font-family: $serif;

    &--quote {
      @include font-size($l);
      margin: 0 0 1rem;

      &:before {
        content: open-quote;
      }
    }

    &--caption {
      @include font-size($base);
    }
  }

  // <ul> 
  &__list {}

  // <li>
  &__list-item {}

  &__disclosure {
    font-style: italic;
  }

  &__republish {
    font-family: $sans-serif;
  }

  .ad-slot {
    margin-bottom: 1rem;
  }

  &--right-lock {
    @extend %right-lock;
  }

}

.storytop {
  $height: 20rem;
  $height-desktop: 30rem;
  @include story-header($height, $height-desktop, 18rem);
  @include clearfix;
  margin: 0 0 0 1em;
  position: absolute;
  bottom: 0;

  @include susy-media($susy-desktop) {
    margin: 0;
  }

  &--wrapper {
    position: relative;
    height: $height;
    margin: 0 0 2rem;

    @include susy-media($susy-desktop) {
      height: $height-desktop;
    }
  }

  &--headline {
    @include headline($l, $xl);
  }
}

.timeline { 
  &--list {
    @include font-size($s);
    font-family: $sans-serif;

    li {
      margin: 0 0 .5em;
    }
  } 

  &--date {
    @extend %accent-subhead;
  }
}

.republish {
  ol {
    @include font-size($s);
    list-style: inherit;
    list-style-type: decimal;
    margin: 0 0 1em 1em;
  }

  ul {
    margin: 0 0 0 1em;
    list-style-type: circle;
  }
}