$font-georgia: Georgia, Times, 'Times New Roman', serif;
$font-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Tribune Colors
$tribune-black: rgb(17, 17, 17);
$tribune-teal: rgb(0, 137, 144);
$tribune-yellow: rgb(255, 194, 0);
$white: rgb(255, 255, 255);

// Sample Breakpoints
$small: new-breakpoint(min-width 460px max-width 810px);
$medium: new-breakpoint(min-width 811px max-width 1080px);
$large: new-breakpoint(min-width 1081px);
$sidebar-break: 768px;
$susy-desktop: 480px;
$default-mobile: new-breakpoint(max-width 480px);

// Max page width
$page-width: 60em;
$prose-width: 40em;
$prose-premobile-bp: 38em;
$prose-desktop-bp: 60em;

// Box Sizing
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Size Scale
$base: 16;
$xxl: 48;
$xl: 36;
$l: 22;
$m: 18;
$s: 14;
$xs: 12;
$xxs: 9;

// Font Stuff
$serif: "Georgia", "Cambria", "Times New Roman", "Times", serif;
$sans-serif: open-sans, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

@mixin font-size($f, $pct:1, $bp:480px) {
  font-size: $f+px; // for IE8
  font-size: $f/$base+rem;

  @if $pct != 1 {
    font-size: $f*$pct+px; // for IE8
    font-size: $f*$pct/$base+rem;

    @include susy-media($bp) {
      font-size: $f+px; // for IE8
      font-size: $f/$base+rem;
    }
  }
}

// Clearfix
@mixin clearfix {
  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
 }
}

@mixin btn($color, $type: null) {
  @include clearfix;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: $sans-serif;
  letter-spacing: .03rem;
  margin: 0 0 .3em;
  text-align: center;
  vertical-align: middle;


  @if $type == ghost {
    background: transparent;
    border: 2px solid $color;
    color: $color;
    padding: .4em .75em .5em;
  } @else {
    background: $color;
    @if $color == $tribune-teal {
      color: $white;
    } @else {
      color: #000;
    }
    border: 0;
    padding: .5em .75em .625em;
  }

  &:active,
  &:hover {
    @if $type == ghost {
      background-color: transparentize($color, .95);
    } @else {
      background-color: transparentize($color, .3);
    }
  }
}

.button {
  @include btn($tribune-yellow);
}

.ghost-button {
  @include btn($tribune-teal, ghost);

  &.active {
    background-color: transparentize($tribune-teal, .8);
  }
}


%content-padding {
  padding: 0 1rem;
}
// Story Subheader
%subhead {
  @include font-size($m);
  font-family: $sans-serif;
  font-weight: 600;
  margin: 0 0 1rem;
}

// Subtitle underneath subheader
%subtitle {
  @include font-size($xs);
  font-family: $sans-serif;
  font-weight: 400;
  color: #666;
  margin: 0 0 1rem 0;
}

%accent-subhead {
  @include font-size($xs);
  color: $tribune-yellow;
  font-family: $sans-serif;
  font-weight: 600;
  margin: 0 0 .15rem;
}

// Container styles for asides
%aside-box {
  border-top: 2px;
  border-bottom: 2px;
  border-style: solid;
  border-color: $tribune-yellow;
  font-family: $sans-serif;
  margin: 0 0 1rem;
  max-width: $prose-width;
  padding: 1rem 0;
  position: relative;
}

%right-lock {
  margin-bottom: 2rem;
  margin-right: 1rem;
  width: 100%;

  @include susy-media($prose-premobile-bp) {
    float: right;
    margin-left: 1rem;
    width: 40%;
  }
}

%link {
  color: $tribune-teal;

  &:active,
  &:hover {
    text-decoration: underline;
  } 
}

%part-box {
  @include font-size($base);
  background-color: $tribune-yellow;
  color: #000;
  display: inline-block;
  font-family: $sans-serif;
  font-weight: 600;
  margin: 0 0 1rem 1rem;
  padding: .5rem;
  
  @include susy-media($page-width) {
    margin: 0 0 1rem -1rem;
  }
}

@mixin story-header($height, $height-desktop, $img-height) {

  &--lead-art {
    background-image: url(../assets/images/test.jpg);
    background-size: cover;
    height: $img-height;
    width: 100%;
    background-position: center center;

    @include susy-media($susy-desktop) {
      height: $height-desktop;
    }
  }
  
  &--part {
    @extend %part-box;
  }

  &--headline-box {
    background-color: #fff;
    margin: 0 0 0 1em;
    padding: .5rem 1rem .5rem .5rem;
    width: 100%;

    @include susy-media($page-width) {
      margin: 0;
      padding: .5rem .5rem .5rem 0;
    }
  }

  &--byline {
    @include font-size($s);
    font-family: $sans-serif;
  
    a {
      @extend %link;
    }
  }
}

@mixin headline($base, $desktop) {
  @include font-size($base);
  font-family: $serif;
  font-weight: 400;
  line-height: 1.1;
  margin: 0 0 .25rem;

  @include susy-media($susy-desktop) {
    @include font-size($desktop);
    line-height: 1.2;
  }
}