{% extends 'layouts/demographics.html' %}

{% block content %}

<button id="rescale">Rescale</button>
<button id="rescaleAgain">Rescale Again</button>

<div id="charts" class="charts">
  <div class="chart-container">
    <header>
      <h2>White</h2>
    </header>
    <div id="white"></div>
  </div>

  <div class="chart-container">
    <header>
      <h2>Black</h2>
    </header>
    <div id="black"></div>
  </div>

  <div class="chart-container">
    <header>
      <h2>Hispanic</h2>
    </header>
    <div id="hispanic"></div>
  </div>
</div>
{% endblock %}
