{% extends 'layouts/demographics.html' %}

{% block content %}

<div class="test-wrapper">
<!-- <button id="addUT">Add UT</button>
<button id="rescale">Zoom View</button>
<button id="reset">Show out of 100%</button> -->

  <div class="basic-sticky-example">
    <div id="chart--topper_explainer_box" class="chart--topper_explainer">
      <p id="explainer1" class="chart--topper_explainer_text">In 1990, <span class="chart--topper_explainer_text_highlight">52 percent</span> of Texans age 17 to 19 were white, <span class="chart--topper_explainer_text_highlight">13 percent</span> were black and <span class="chart--topper_explainer_text_highlight">32 percent</span> were Hispanic.</p>
      
      <p id="explainer2" class="chart--topper_explainer_text">But you probably couldn't tell that looking at the freshmen undergradute class at the University of Texas in Austin &mdash; because in 1990, <span class="chart--topper_explainer_text_highlight">83.5 percent</span> of freshmen students were white, <span class="chart--topper_explainer_text_highlight">4 percent</span> were black and <span class="chart--topper_explainer_text_highlight">12.5 percent</span> were Hispanic.</p>

      <p id="explainer3" class="chart--topper_explainer_text">In the past 15 years, Hispanics have become the majority in the 17 to 19 year old age group at <span class="chart--topper_explainer_text_highlight">48 percent</span>, while the white population has decreased to <span class="chart--topper_explainer_text_highlight">33 percent</span> and the black population remained stable at <span class="chart--topper_explainer_text_highlight">13 percent</span>.</p>

      <p id="explainer4" class="chart--topper_explainer_text">You can see a slight shift in the student body at UT that reflects this demographic change &mdash; as the proportion of Hispanic students in the 2015 freshman class increased slightly to <span class="chart--topper_explainer_text_highlight">22 percent</span>, while the proportion of white students has decreased <span class="chart--topper_explainer_text_highlight">73 percent</span>.</p>

      <p id="explainer5" class="chart--topper_explainer_text">But the enrollment gaps across the demographic groups persist. The proportion of black students has hardly changed &mdash; increasing from <span class="chart--topper_explainer_text_highlight">4 to 5 percent</span> over 15 years.</p>
    </div>

    <div class="legend">
      <div class="legend_tx">
        <div class="legend--color_box color-light-blue"></div>
        <p class="legend--key">17-19 year olds in Texas</p>
      </div>
      <div class="legend_ut">
        <div class="legend--color_box color-orange"></div>
        <p class="legend--key">UT freshman class</p>
      </div> 
    </div>

    <div id="charts" class="charts">
      <div class="chart-container chart-container_demographics">
        <header class="chart--header">
          <h2>White</h2>
        </header>
        <div id="white"></div>
      </div>

      <div class="chart-container chart-container_demographics">
        <header class="chart--header">
          <h2>Black</h2>
        </header>
        <div id="black"></div>
      </div>

      <div class="chart-container chart-container_demographics">
        <header class="chart--header">
          <h2>Hispanic</h2>
        </header>
        <div id="hispanic"></div>
      </div>
    </div>
  </div>

  <div class="scroll-space"></div>
  <div id="waypoint1"></div>

  <div class="scroll-space"></div>
  <div id="waypoint2"></div>

  <div class="scroll-space"></div>
  <div id="waypoint3"></div>

  <div class="scroll-space"></div>
  <div id="waypoint4"></div>

  <div class="scroll-space"></div>
  <div id="waypoint5"></div>
</div>
{% endblock %}
