{% macro demographics(value) %}
  <div class="chart__position--wrapper">
    <div id="waypoint1"></div>  
    <div class="sticky-charts">
      <div class="chart__wrapper">
        <div id="chart__top" class="chart__top">
          <div id="chart__top--explainer_box" class="chart__top--explainer">
            <header class="chart__top--explainer_subhead">
              <h2 class="">{{ value.title }}</h2>
            </header>
            <div class="chart__top--scrollposition">
            {% for key, x in value %}
              {% if key == 'title' %}
              {% elif key == '1' %}
              <i id="explainerPos{{ key }}" class="fa fa-circle"></i>
              {% else %}
              <i id="explainerPos{{ key }}" class="fa fa-circle-thin"></i>
              {% endif %}
            {% endfor %}
            </div>
            {% for key, x in value %}
              {% if key == 'title' %}
              {% else %}
              <p id="explainer{{ key }}" class="chart__top--explainer_text">{{ x|safe }}</p>
              {% endif %}
            {% endfor %}
            <div class="chart__scroll_prompt">
              <span>Scroll</span>
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </div>
        <div id="charts" class="charts">
          <div class="chart__container chart__container--demographics">
            <header class="chart__header">
              <h2>White</h2>
            </header>
            <div id="white"></div>
          </div>

          <div class="chart__container chart__container--demographics">
            <header class="chart__header">
              <h2>Black</h2>
            </header>
            <div id="black"></div>
          </div>

          <div class="chart__container chart__container--demographics">
            <header class="chart__header">
              <h2>Hispanic</h2>
            </header>
            <div id="hispanic"></div>
          </div>
        </div>
        <div id="chart__bottom" class="chart__bottom">
          <div class="chart__legend">
            <div class="chart__legend--wrapper chart__legend--tx">
              <div class="chart__legend--color_box color__tertiary"></div>
              <p class="chart__legend--key">17-19 year olds in Texas</p>
            </div>
            <div class="chart__legend--wrapper chart__legend--ut">
              <div class="chart__legend--color_box color__secondary"></div>
              <p class="chart__legend--key">UT freshman class</p>
            </div>
            <p class="chart__source">
              Source: <a href="https://www.dshs.state.tx.us/chs/popdat/downloads.shtm">Department of State Health Services 2015 population projections</a> and the University of Texas at Austin <a href="http://www.utexas.edu/student/admissions/research/admission_reports.html">Automatic Admissions</a> reports.
            </p> 
          </div> 
        </div>
      </div>
    </div>

    <div class="scroll-space"></div>
    <div id="waypoint2"></div>

    <div class="scroll-space"></div>
    <div id="waypoint3"></div>

    <div class="scroll-space"></div>
    <div id="waypoint4"></div>
<!-- 
    <div class="scroll-space"></div>
    <div id="waypoint5"></div> -->

    <div class="scroll-space"></div>
    <div id="waypoint6"></div>
  </div>
{% endmacro %}