{% macro demographics(value) %}
<div class="demographics-wrapper">
  <div id="waypoint1"></div>  
  <div class="sticky-charts">
    <div class="chart-wrapper">
      <div class="chart--topper">
        <div class="chart--topper_scrollposition">
        {% for key, x in value %}
          {% if key == '1' %}
          <i id="explainerPos{{ key }}" class="fa fa-circle"></i>
          {% else %}
          <i id="explainerPos{{ key }}" class="fa fa-circle-thin"></i>
          {% endif %}
        {% endfor %}
        </div>
        <div id="chart--topper_explainer_box" class="chart--topper_explainer">
        {% for key, x in value %}
          <p id="explainer{{ key }}" class="chart--topper_explainer_text">{{ x }}</p> 
        {% endfor %}
        </div>

      </div>
      <div id="charts" class="charts">
        <div class="chart-container chart-container_demographics">
          <header class="chart--header">
            <h2>White</h2>
          </header>
          <div id="white"></div>
        </div>

        <div class="chart-container chart-container_demographics">
          <header class="chart--header">
            <h2>Black</h2>
          </header>
          <div id="black"></div>
        </div>

        <div class="chart-container chart-container_demographics">
          <header class="chart--header">
            <h2>Hispanic</h2>
          </header>
          <div id="hispanic"></div>
        </div>
      </div>
      <div class="chart--bottom">
        <div class="legend">
          <div class="legend_tx">
            <div class="legend--color_box color-light-blue"></div>
            <p class="legend--key">17-19 year olds in Texas</p>
          </div>
          <div class="legend_ut">
            <div class="legend--color_box color-orange"></div>
            <p class="legend--key">UT freshman class</p>
          </div> 
        </div>

        <div class="chart-scroll_prompt">
          <i class="fa fa-chevron-circle-down"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-space"></div>
  <div id="waypoint2"></div>

  <div class="scroll-space"></div>
  <div id="waypoint3"></div>

  <div class="scroll-space"></div>
  <div id="waypoint4"></div>

  <div class="scroll-space"></div>
  <div id="waypoint6"></div>

 </div>
{% endmacro %}