{% macro nav(id) %}
  <nav class="nav">
    <div class="nav--logo_tt">
      <img src="{{ PATH_PREFIX }}assets/images/tt-logo.svg">
    </div>
    <ul class="nav--sections">
      <li>The Price of Admission: </li>
    {% if id == '1' %}
      <li class="nav--sections_active"><a href="{{ PATH_PREFIX }}"><span>Part 1</span></a></li>
      <li><a href="{{ PATH_PREFIX }}story_two">2</a></li>
      <li><a href="{{ PATH_PREFIX }}story_three">3</a></li>
    {% elif id == '2' %}
      <li><a href="{{ PATH_PREFIX }}">1</a></li>
      <li class="nav--sections_active"><a href="{{ data.PATH_PREFIX}}{{ id }}"><span>Part 2</span></a></li>
      <li><a href="{{ PATH_PREFIX }}story_three">3</a></li>
    {% else %}
      <li><a href="{{ PATH_PREFIX }}">1</a></li>
      <li><a href="{{ PATH_PREFIX }}story_two">2</a></li>
      <li class="nav--sections_active"><a href="{{ PATH_PREFIX }}"><span>Part 3</span></a></li>
    {% endif %}
    </ul>
  </nav>
{% endmacro %}

{% macro navaside() %}
<aside class="nav__aside">
  <header>
    <h3 class="nav__aside--header">The Price of Admission</h3>
    <p class="nav__aside--subtitle">A look at the debate over the Top 10 Percent Rule and how it creates challenges for high schools and colleges.</p>
  </header>
  <ul>
    <a class="nav__aside--link" href=""><li class="nav__aside--story_wrapper">
<!--       <figure class="nav__aside--thumbnail">
        <img src="http://placehold.it/75x75">
      </figure> -->
      <div class="nav__aside--part-wrapper">
        <p class="nav__aside--part">Part 1</p>
        <p class="nav__aside--headline">This is a sample headline</p>
      </div>    
    </li></a>
    <a class="nav__aside--link" href=""><li class="nav__aside--story_wrapper">
      <div class="nav__aside--part-wrapper">
        <p class="nav__aside--part">Part 2</p>
        <p class="nav__aside--headline">This is a sample headline</p>
      </div>    
    </li></a>
    <a class="nav__aside--link" href=""><li class="nav__aside--story_wrapper">
      <div class="nav__aside--part-wrapper">
        <p class="nav__aside--part">Part 3</p>
        <p class="nav__aside--headline">This is a sample headline</p>
      </div>    
    </li></a>
    <a class="nav__aside--link" href=""><li class="nav__aside--extra_wrapper">
      <div class="nav__aside--part-wrapper">
        <p class="nav__aside--part">Podcast</p>
        <p class="nav__aside--extra_subject">Listen to a podcast about this series from our partner Reveal</p>
      </div>    
    </li></a>
    <a class="nav__aside--link" href=""><li class="nav__aside--extra_wrapper">
      <div class="nav__aside--part-wrapper">
        <p class="nav__aside--part">Event</p>
        <p class="nav__aside--extra_subject">Watch our live event related to this series</p>
      </div>    
    </li></a>
  </ul>
</aside>
{% endmacro %}

{% macro navfooter(id, headline) %}
  <aside class="nav__footer">
    <div class="nav__footer--wrapper">
      {% if id == '1' %}
      <a href="{{ PATH_PREFIX }}story_two">
      <div class="nav__footer--lead-art"></div>
      <header class="nav__footer--box">
        <div class="nav__footer--part">Part 2</div>
        <div class="nav__footer--headline-box">
          <h1 class="nav__footer--headline">This is a test headline</h1>
        </div>     
      </header>
      </a>
      {% else %}
      <a href="{{ PATH_PREFIX }}">
      <div class="nav__footer--lead-art"></div>
      <header class="nav__footer--box">
        <div class="nav__footer--part">Part 1</div>
        <div class="nav__footer--headline-box">
          <h1 class="nav__footer--headline">This is a test headline</h1>
        </div>     
      </header>
      </a>      
      {% endif %}
    </div>
    <div class="nav__footer--wrapper">
      {% if id == '3' %}
      <a href="{{ PATH_PREFIX }}story_two">
      <div class="nav__footer--lead-art"></div>
      <header class="nav__footer--box">
        <div class="nav__footer--part">Part 2</div>
        <div class="nav__footer--headline-box">
          <h1 class="nav__footer--headline">This is a test headline</h1>
        </div>     
      </header>
      </a>
      {% else %}
      <a href="{{ PATH_PREFIX }}story_three">
      <div class="nav__footer--lead-art"></div>
      <header class="nav__footer--box">
        <div class="nav__footer--part">Part 3</div>
        <div class="nav__footer--headline-box">
          <h1 class="nav__footer--headline">This is a test headline</h1>
        </div>     
      </header>
      </a>      
      {% endif %}
    </div>
  </aside>
{% endmacro %}
