{% macro nav(id) %}
  <nav class="nav">
    <div class="nav--container">
      <div class="nav--logo_tt">
        <a href="http://www.texastribune.org"><img src="{{ PATH_PREFIX }}assets/images/tt-logo.svg"></a>
      </div>
    </div>
  </nav>
{% endmacro %}

{% macro navaside() %}
<aside class="nav__aside">
  <header>
    <figure class="nav__aside--logo">
      <img class="" src="{{ PATH_PREFIX }}assets/images/tt-PoA-logo.svg">
    </figure>
    <p class="nav__aside--subtitle">A look at the debate over the Top 10 Percent Rule and how it creates challenges for high schools and colleges.</p>
  </header>
  <ul>
    <a class="nav__aside--link" href="{{ PATH_PREFIX }}"><li class="nav__aside--story_wrapper">
      <div class="nav__aside--part-wrapper">
        <div class="nav__aside--thumbnail"></div>
        <p class="nav__aside--part">Part I</p>
        <h4 class="nav__aside--headline">The Tough Road to Diversity</h4>
      </div>    
    </li></a>
    <a class="nav__aside--link" href="{{ PATH_PREFIX }}story_two"><li class="nav__aside--story_wrapper">
      <div class="nav__aside--part-wrapper">
        <div class="nav__aside--thumbnail"></div>
        <p class="nav__aside--part">Part II</p>
        <h4 class="nav__aside--headline">A Tale of Two High Schools</h4>
      </div>       
    </li></a>
    <a class="nav__aside--link" href="{{ PATH_PREFIX }}story_three"><li class="nav__aside--story_wrapper">
      <div class="nav__aside--part-wrapper">
        <div class="nav__aside--thumbnail"></div>
        <p class="nav__aside--part">Part III</p>
        <h4 class="nav__aside--headline">Getting to Graduation</h4>
      </div>
    </li></a>
    <a class="nav__aside--link" href=""><li class="nav__aside--extra_wrapper">
      <h4 class="nav__aside--subhead">Podcast</h4>
      <p class="nav__aside--subtitle">Listen to a podcast about this series from our partner Reveal</p>
    </li></a>
    <a class="nav__aside--link" href=""><li class="nav__aside--extra_wrapper">
      <h4 class="nav__aside--subhead">Event</h4>
      <p class="nav__aside--subtitle">Watch our live event related to this series</p>
    </li></a>
  </ul>
</aside>
{% endmacro %}

{% macro navfooter(id, headline) %}
  <aside class="nav__footer">
    <div class="nav__footer--wrapper">
      {% if id == 'i' %}
      <a href="{{ PATH_PREFIX }}story_two">
      <div class="nav__footer--lead-art"></div>
      <header class="nav__footer--box">
        <div class="nav__footer--part">Part II</div>
        <div class="nav__footer--headline-box">
          <h1 class="nav__footer--headline">A Tale of Two High Schools</h1>
        </div>     
      </header>
      </a>
      {% else %}
      <a href="{{ PATH_PREFIX }}">
      <div class="nav__footer--lead-art"></div>
      <header class="nav__footer--box">
        <div class="nav__footer--part">Part I</div>
        <div class="nav__footer--headline-box">
          <h1 class="nav__footer--headline">The Tough Road to Diversity</h1>
        </div>     
      </header>
      </a>      
      {% endif %}
    </div>
    <div class="nav__footer--wrapper">
      {% if id == 'iii' %}
      <a href="{{ PATH_PREFIX }}story_two">
      <div class="nav__footer--lead-art"></div>
      <header class="nav__footer--box">
        <div class="nav__footer--part">Part II</div>
        <div class="nav__footer--headline-box">
          <h1 class="nav__footer--headline">A Tale of Two High Schools</h1>
        </div>     
      </header>
      </a>
      {% else %}
      <a href="{{ PATH_PREFIX }}story_three">
      <div class="nav__footer--lead-art"></div>
      <header class="nav__footer--box">
        <div class="nav__footer--part">Part III</div>
        <div class="nav__footer--headline-box">
          <h1 class="nav__footer--headline">Getting to Graduation</h1>
        </div>     
      </header>
      </a>      
      {% endif %}
    </div>
  </aside>
{% endmacro %}
