{% macro scatter() %}

<button id="all" class="ghost-button">All</button>
<button id="austin" class="ghost-button">Austin</button>
<button id="dallas" class="ghost-button">Dallas</button>
<button id="houston" class="ghost-button">Houston</button>
<button id="sanantonio" class="ghost-button">San Antonio</button>

<div class="chosen_information">
  <select data-placeholder="Find your school" id="chosen-select" tabindex="2">
    <option value=""></option>
    <optgroup id="austin-group" label="Austin-Round Rock"></optgroup>
    <optgroup id="dallas-group" label="Dallas-Fort Worth-Arlington"></optgroup>
    <optgroup id="houston-group" label="Houston-The Woodlands-Sugar Land"></optgroup>
    <optgroup id="sanantonio-group" label="San Antonio-New Braunfels"></optgroup>
    <optgroup id="other-group" label="Other"></optgroup>
  </select>
  <button id="reset-highlights">Reset</button>
  <p>Percent of Seniors Enrolled at UT: <span id="chosen_enrolledpct"></span></p>
  <p>Percent of High School "Economically Disadvantaged": <span id="chosen_ecodis"></span></p>
  <p>Percent of High School "College-Ready": <span id="chosen_collegeready"></span></p>
  <p>This data does not include schools with masked v</p>
</div>


<div class="tooltip-container">

</div>

<div id="charts" class="charts">
  <header>
    <h2>Demographic Trends: How the percent of Texas high schools' senior classes enrolled in UT Austin's 2015 freshman class compare by school demographics</h2>
  </header>
  <div class="legend">
    <div class="legend--wrapper">
      <div class="legend--color_box color-light-blue"></div>
      <p class="legend--key">White and Asian Majority Schools</p>
    </div>
    <div class="legend--wrapper">
      <div class="legend--color_box color-orange"></div>
      <p class="legend--key">Black, Hispanic or Multiracial Majority Schools</p>
    </div> 
  </div>
  <div class="chart-container_scatter">
    <div id="ecoDis"></div>
  </div>

  <div class="chart-container_scatter">
    <div id="collegeReady"></div>
  </div>
</div>

{% endmacro %}