{% macro scatter() %}

<div id="charts" class="chart chart__wrapper">
  <div class="chart__options">
    <header>
      <h2 class="chart__subhead">Demographic Trends</h2>
      <p class="chart__subtitle">How Texas high schools with fewer economically disadvantaged students and more "college ready" students send greater percentages of their senior class to UT-Austin</p>
    </header>
    <p class="chart__options--header">Shows schools by metro area:</p>
    <button id="data" class="chart__options--button active">All</button>
    <button id="austin" class="chart__options--button">Austin</button>
    <button id="dallas" class="chart__options--button">DFW</button>
    <button id="houston" class="chart__options--button">Houston</button>
    <button id="sanantonio" class="chart__options--button">San Antonio</button>
  </div>
  <div class="chart__container--scatter">
    <div id="ecoDis"></div>
  </div>

  <div class="chart__container--scatter">
    <div id="collegeReady"></div>
  </div>
  <div class="chart__legend">
    <div class="chart__legend--wrapper">
      <div class="chart__legend--color_box color__tertiary"></div>
      <p class="chart__legend--key">White and Asian Majority Schools</p>
    </div>
    <div class="chart__legend--wrapper">
      <div class="chart__legend--color_box color__secondary"></div>
      <p class="chart__legend--key">Black, Hispanic or Multiracial Majority Schools</p>
    </div> 
  </div>
  <div class="chart__info">
    <div class="chosen_information">
      <select data-placeholder="Find your school" id="chosen-select" tabindex="2">
        <option value=""></option>
        <optgroup id="austin-group" label="Austin-Round Rock"></optgroup>
        <optgroup id="dallas-group" label="Dallas-Fort Worth-Arlington"></optgroup>
        <optgroup id="houston-group" label="Houston-The Woodlands-Sugar Land"></optgroup>
        <optgroup id="sanantonio-group" label="San Antonio-New Braunfels"></optgroup>
        <optgroup id="other-group" label="Other"></optgroup>
      </select>

      <button id="reset-highlights" class="chart__options--reset">Reset</button>
    </div>
    <div class="chart__info--box-wrapper title">
      <div class="chart__info--box">
        <header>
          <h4 class="chart__info--header">Percent of Seniors Enrolled at UT:</h4>
        </header>
      </div>
      <div class="chart__info--box">
        <header>
          <h4 class="chart__info--header">Percent of High School "Economically Disadvantaged":</h4>
        </header>
      </div>
      <div class="chart__info--box">
        <header>
          <h4 class="chart__info--header">Percent of High School "College-Ready":</h4>
        </header>
      </div>
    </div>
    <div class="chart__info--box-wrapper value">
      <div class="chart__info--box">
        <div class="chart__info--value" id="chosen_enrolledpct">%</div>
      </div>
      <div class="chart__info--box">
        <div class="chart__info--value" id="chosen_ecodis">%</div>
      </div>
      <div class="chart__info--box">
        <div class="chart__info--value" id="chosen_collegeready">%</div>
      </div>
    </div>
    <p class="chart__source">Sources: The Texas Education Agency's <a href="https://rptsvr1.tea.texas.gov/perfreport//tapr/2015/xplore/DownloadSelData.html">Texas Academic Performance Report</a> and University of Texas at Austin Admissions Research's <a href="http://admissions.utexas.edu/docs/sb175-tx-schools-2013-15.pdf">Texas Feeder School Supplement</a></p>
    <p class="chart__source">Note: This visualization excludes high schools with fewer than 100 seniors, high schools with no students admitted or enrolled to UT Austin in 2015, and high schools that the Texas Education Agency masked. You can find more information on the definition of "college-ready" students and why certain values are masked <a href="http://schools.texastribune.org/about/#college-ready">here</a>, and the definition of "economically disadvantaged" students <a href="https://rptsvr1.tea.texas.gov/perfreport//tapr/2015/glossary.pdf">here</a>.</p>
    
  </div>

</div>

{% endmacro %}