{% macro build_timeline() %}
  <div class="timeline">
    <header>
      <h3 class="prose__subhead">
        Key Dates
      </h3>
    </header>
    <ul>
      <li><span class="timeline--date">1996 - </span>In its ruling in the Hopwood v. Texas case, the Fifth Circuit Court of Appeals rules that UT Law must use a race-neutral admissions process. Soon after, Attorney General Dan Morales declares that the ruling should apply to all public schools in the state, ending the use of affirmative action in Texas.</li>
      <li><span class="timeline--date">1997 - </span>The Texas Legislature passes House Bill 588, promising automatic admission to state schools for any Texan who graduates in the top 10 percent of his public high school class.</li>
      <li><span class="timeline--date">2003 - </span>The U.S. Supreme Court upholds the use of affirmative action in the case Grutter v. Bollinger. The decision overturns the Hopwood ruling, and UT-Austin declares the next day that it will once again begin considering race when evaluating non-top 10 percent applicants.</li>
      <li><span class="timeline--date">2008 - </span>Abigail Fisher, a white student from Sugar Land, is denied admission to UT-Austin. Soon, she will sue the university claiming that she was denied because of her race.</li>
      <li><span class="timeline--date">2009 - </span>The Texas Legislature tweaks the top 10 percent rule, allowing UT-Austin to cap the number of students it automatically admits at 75 percent.</li>
      <li><span class="timeline--date">2012 - </span>Fisher's lawsuit reaches the U.S. Supreme Court.</li>
      <li><span class="timeline--date">2013 - </span>The Supreme Court issues a limited ruling, essentially upholding affirmative action without weighing in on whether UT-Austin should be allowed to continue considering race.</li>
      <li><span class="timeline--date">2015 - </span>The U.S. Supreme Court agrees to re-hear the Fisher case. During oral arguments in December, justices debated whether the top 10 percent law achieved enough diversity that affirmative action should be outlawed at the university.</li>
    </ul>
  </div>
{% endmacro %}